

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 20px;
}

.service__item {
  position: relative;
  width: 380px;
  text-align: left;
  padding-left: 82px;
}

.service__item:not(:nth-child(n + 3)) {
  margin-bottom: 100px;
}

.title {
  font-family: "Montserrat-400";
  text-transform: uppercase;
  color: #333333;
  font-size: $title-font-size;
  margin: 0;
}

.service__title {
  margin-bottom: 14px;
}

.caption {
  font-family: "Roboto-400";
  font-size: 15px;
  line-height: 24px;
  color: #999;
  margin: 0;
}

.service__item::before {
  position: absolute;
  left: 22px;
  top: 1px;
}

.service__item_photo::before {
  content: url(../img/icons/service-clock.svg);
}

.service__item_web::before {
  content: url(../img/icons/sevice-graph.svg);
}

.service__item_creative::before {
  content: url(../img/icons/service-computer.svg);
}

.service__item_seo::before {
  content: url(../img/icons/service-book.svg);
}

.service__item_css::before {
  content: url(../img/icons/service-house.svg);
}

.service__item_digital::before {
  content: url(../img/icons/service-target.svg);
}

/* TEAM SECTION */
/* TEAM SECTION */
/* TEAM SECTION */

.team__caption {
  margin-bottom: 90px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.team__item {
  position: relative;
}

.team__image {
  margin-bottom: 29px;
}

/* HOVER MENU */
/* HOVER MENU */
/* HOVER MENU */
.team__hover {
  position: absolute;
  width: 100%;
  height: 470px;
  background-image: -webkit-gradient(linear,
      left bottom, left top,
      from(rgba(252, 227, 138, .9)),
      to(rgba(243, 129, 129, .9)));
  background-image: -o-linear-gradient(bottom,
      rgba(252, 227, 138, .9) 0%,
      rgba(243, 129, 129, .9) 100%);
  background-image: linear-gradient(360deg,
      rgba(252, 227, 138, .9) 0%,
      rgba(243, 129, 129, .9) 100%);
  top: -10px;
  left: -10px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.team__item:hover .team__hover,
.team__item:focus .team__hover {
  visibility: visible;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
  box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
  opacity: 1;
}

.hover__list_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 223px;
  height: 55px;
  padding: 0;
  margin: 0;
}

.hover__item_socials {
  width: 55px;
  height: 55px;
  background-color: $accent-color-yellow;
  opacity: 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.team__item:hover .hover__item_socials,
.team__item:focus .hover__item_socials {
  visibility: visible;
  opacity: 1;
}

.hover__icon {
  display: block;
  padding: 15px;
  width: 55px;
  height: 55px;
  fill: $accent-color-red;
  background-position: center;
  background-repeat: no-repeat;
}

.hover__icon:hover {
  background-color: $accent-color-red;
  fill: $main-white-color;
}

.team__title {
  margin-bottom: 10px;
}

.team__title_caption {
  font-family: $service-section-member-caption;
  color: #999999;
  font-size: $title-font-size;
  line-height: 24px;
  margin: 0 0 40px;
}

/* FOOTER  */
/* FOOTER  */
/* FOOTER  */

.footer {
  font-family: "Montserrat-400";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid rgb(229, 229, 229);
  font-size: $title-font-size;
  padding: 10px 0 12px 0;
  color: #333333;
}

.footer__legal {
  margin: 0;
}

.footer__legal_span {
  color: $accent-color-red;
}

input::-webkit-input-placeholder {
  font-family: $service-section-member-caption;
  font-size: 15px;
  line-height: 24px;
  color: rgb(153, 153, 153);
}

input::-moz-placeholder {
  font-family: $service-section-member-caption;
  font-size: 15px;
  line-height: 24px;
  color: rgb(153, 153, 153);
}

input:-ms-input-placeholder {
  font-family: $service-section-member-caption;
  font-size: 15px;
  line-height: 24px;
  color: rgb(153, 153, 153);
}

input::-ms-input-placeholder {
  font-family: $service-section-member-caption;
  font-size: 15px;
  line-height: 24px;
  color: rgb(153, 153, 153);
}

input::placeholder {
  font-family: $service-section-member-caption;
  font-size: 15px;
  line-height: 24px;
  color: rgb(153, 153, 153);
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 380px;
}

.footer__button {
  font-family: $headers-main-font-stack;
  background-color: rgb(149, 225, 211);
  border-color: rgb(149, 225, 211);
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.footer__input {
  width: 230px;
  height: 40px;
  padding: 12px;
  border-left: 1px solid rgb(229, 229, 229);
  border-top: 1px solid rgb(229, 229, 229);
  border-bottom: 1px solid rgb(229, 229, 229);
  border-right: none;
}
