.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

body {
  font-family: 'Playfair Display', serif;
  color: rgb(98, 98, 98);
  line-height: 24px;
  background-image: url('img\Livello 7.png') width "1200" height "1446";
  width: 860px;
  margin: 0 auto;
  padding-top: 70px;
}

header {
  margin-bottom: 100px;
}

ul {
  list-style: none;
  width: 90%;
  margin: 0 auto;
  padding: 0 122px;
}

.nav {
  width: 100%;
}

.main-nav-item {
  display: inline-block;
  margin: 0 20px;
}

.main-nav-item.lifestyle {
  margin-right: 120px;
}

.main-nav-item.photodiary {
  margin-right: 104px;
}

.main-nav-item.music {
  margin-right: 92px;
}

.main-nav-item a {
  text-transform: uppercase;
  color: rgb(98, 98, 98);
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}

.main-nav-item a:hover {
  color: #03a9f4;
}

h2 {
  line-height: 36px;
  font-size: 30px;
  color: rgb(98, 98, 98);
}

.caption {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: rgb(180, 173, 158);
  text-transform: uppercase;
}

button {
  font-size: 20px;
  line-height: 24px;
  color: rgb(98, 98, 98);
  /* background-color:#ffffff; */
  border: 1px rgb(98, 98, 98) solid;
  padding: 0;
  width: 162px;
  height: 58px;
  display: inline-block;
  background-color: transparent;
}