.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

body {
  font-family: 'Playfair Display', serif;
  color: rgb(98, 98, 98);
  line-height: 24px;
  background-image: url('img\Livello 7.png') width "1200" height "1446";
}

ul {
  list-style: none;
}

.main-nav-item a{
  text-transform: uppercase;
  color: rgb(98, 98, 98);
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}

h2 {
  line-height: 36px;
  font-size: 30px;
  color: rgb(98, 98, 98);
}

.caption {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: rgb(180, 173, 158);
  text-transform: uppercase;
}

button {
  font-size: 20px;
  line-height: 24px;
  color: rgb(98, 98, 98);
  /* background-color: white; */
  border: 1px rgb(98, 98, 98) solid;
  padding: 0;
  width: 162px;
  height: 58px;
  outline: none;
  display: block;
}