/* typography */

@font-face {
  font-family: "Montserrat-reg";
  src: url(../fonts/montserrat-v14-latin-regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-bold";
  src: url(../fonts/montserrat-v14-latin-700.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Arvo-italic-font";
  src: url(../fonts/arvo-v13-latin-italic.woff2) format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto-slab-font";
  src: url(../fonts/roboto-slab-v10-latin-regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Wisdom-script-font";
  src: url(../fonts/Wisdom-Script.woff) format('woff');
  font-weight: 400;
  font-style: italic;
}

/* general */

html {
  box-sizing: border-box;
  font-family: "Montserrat-bold";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* header */

.container {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid transparent;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px 0 0px;
  align-items: baseline;
}

.logo {
  font-family: "Wisdom-script-font";
  font-size: 26px;
  color: #fed136;
  padding: 0 7px;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.menu-list-item:not(:last-child) {
  margin-right: 40px;
}


.menu-list-item a {
  display: block;
  color: #222222;
  font-size: 14px;
  transition: color .1s linear;
}

.menu-list-item a:hover {
  color: #fed136;
}

.services-section,
.contact-us-section {
  padding: 92px 0 115px;
}

.secondary-title {
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 75px;
  color: #222222;
  text-transform: uppercase;
}

.secondary-title-caption {
  font-family: "Arvo-italic-font"; /* replaced "DroidSerif"*/
  color: #777777;
  margin: 0 0 74px;
  font-size: 16px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 0 6px;
}

.services-list-item:not(:last-child) {
  margin-right: 55px;
}

.sub-title {
  margin: 0 0 16px;
  font-size: 18px;
}

.sub-title::before {
  width: 72px;
  height: 72px;
  display: block;
  margin: 0 auto 24px;
}

.sub-title.e-commerce::before {
  content: url(../img/Service-icons/Circle-basket.png);
}

.sub-title.responsive-web::before {
  content: url(../img/Service-icons/Circle-laptop.png);
}

.sub-title.web-security::before {
  content: url(../img/Service-icons/Circle-locked.png);
}

.services-description {
  margin: 0;
  color: #777777;
  font-family: "Roboto-slab-font";
}

/* contact us section */

.contact-us-section {
  background-color: #222222;
  background-image: url(../img/Map\ Image.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom right;
}

.secondary-title.contact-us {
  color: #ffffff;
}

.secondary-title-caption.contact-us {
  margin-bottom: 76px;
}

.contact-us-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-column-50,
.textarea-50 {
  width: 455px;
  height: 212px;
  margin-bottom: 30px;
}

.input-column-50 input,
.textarea-50 {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  padding: 20px;
  resize: none;
}

.input-column-50 input::placeholder,
.contact-us-form textarea::placeholder {
  color: #bbbbbb;
}

.input-column-50 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
}

.input-column-50 input {
  height: 51px;
}

.input-column-50 input[name="name"]:focus:valid,
.input-column-50 input[name="email"]:focus:valid,
.contact-us-form textarea[name="message_text"]:focus:valid {
  outline: none;
  box-shadow: 0px 0px 2px 2px rgba(81, 231, 104, 0.517)inset;
}

.input-column-50 input[name="name"]:focus:invalid,
.input-column-50 input[name="email"]:focus:invalid,
.contact-us-form textarea[name="message_text"]:focus:invalid {
  outline: none;
  box-shadow: 0px 0px 2px 2px rgba(238, 50, 50, 0.326)inset;
}

.input-column-50 input[name="mail_subject"] {
  outline: none;
}

button {
  border-radius: 3px;
  border-style: none;
  background-color: rgb(254, 209, 54);
  width: 240px;
  height: 66px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}