* {
  font-family: roboto;
  color: #202020;
}

/* task-3 */

#gallery {
  display: flex;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  background-color: rgba(255, 99, 71, .1);
}

.image__wrapper {
  list-style: none;
  height: 100%;
  overflow: hidden;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 500px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #fff;
}

.arrow--prev {
  left: 20px;
}

.arrow--next {
  right: 20px;
}

/* task-4 */

#counter {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 20px;
}

#counter button {
  width: 30px;
  height: 30px;
  margin: 0 20px;
  padding: 0;
}

#counter span {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

/* task-6 */

#validation-input {
  border: 3px solid #bdbdbd;
  margin-bottom: 50px;
  outline: none;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}