/* ОБЩЕЕ ОФОРМЛЕНИЕ */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list-item {
  list-style: none;
}

.logo-link,
.list-item a {
  text-decoration: none;
}

/* ОБОЛОЧКИ */
body {
  width: 1600px;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

/* HEADER */
.main-header {
  width: 100%;
  height: 102px;
  padding: 36px 0;
  text-transform: uppercase;
}

.main-menu {
 /* display: block; */
 height: 30px;
 /* outline: 1px solid tomato; */
}

.logo {
  /* display: block; */
}

.logo:first-letter {
  font-weight: bold;
  color: rgb(26, 188, 156);
}

.logo-link {
  display: block;
  width: 90px;
  float: left;
  font-size: 30px;
  font-family: "Roboto";
  color: rgb(85, 82, 82);
}

.menu-list {
  float: right;
  width: 540px;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.menu.list-item {
  display: block;
  margin-left: 6.5%;
  float: right;
}

.list-item a {
  display: block;
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(15, 1, 1);
  font-weight: bold;
  line-height: 30px;
}

.menu.list-item a:hover,
.menu.list-item a:focus {
  color: rgb(26, 188, 156);
}

/* MAIN SECTION */
h2 {
  font-size: 48px;
  font-family: "Roboto";
  text-transform: uppercase;
  color: rgb(81, 81, 81);
  line-height: 0.667;
  text-align: center;
  margin-bottom: 32px;
}

h2::after {
  display: block;
  content: "";
  background-color: rgb(26, 188, 156);
  /* left: 735px; */
  width: 164px;
  height: 7px;
  margin: 32px auto 82px;
}

.featured-section {
  margin: 0;
  padding: 0;
  font-size: 0;
  margin-bottom: 105px;
}

.news-section {
  margin: 0;
  padding: 0;
  font-size: 0;
  margin-bottom: 82px;
}

.featured-item {
  display: block;
  float: left;
  width: 255px;
  height: 320px;
}

.featured-item:hover .caption {
  background-color: rgb(26, 188, 156);
}

.featured-item:not(:nth-of-type(4n)) {
  margin-right: 30px;
}

.featured-item:not(:nth-last-of-type(-n + 4)) {
  margin-bottom: 30px;
}

.caption {
  float: left;
  width: 255px;
  height: 37px;
  background-color: rgb(50, 50, 50);
  /* vertical-align: baseline; */
  padding-left: 13px;
}

.product-name {
  display: inline-block;
  float: left;
  font-size: 18px;
  line-height: 37px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  /* line-height: 1.778; */
  text-align: left;
  margin: 0;
  padding: 0;
}

.sum {
  float: right;
  width: 54px;
  line-height: 37px;
  background-color: rgba(255, 255, 255, .3);
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  /* line-height: 1.778; */
  text-align: center;
}

.news-list {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.news-item {
  display: block;
  float: left;
  display: block;
  width: 350px;
}

.news-item:not(:nth-of-type(3n)) {
  margin-right: 30px;
}


.news-image-caption {
  /* display: block; */
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb(85, 82, 82);
  line-height: 26px;
}

.news-image-caption::after {
  display: block;
  content: "";
  background-color: rgb(26, 188, 156);
  width: 136px;
  height: 3px;
  margin: 11px 0 23px 0;
}

.news-text {
  display: block;
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(85, 82, 82);
  line-height: 26px;
  width: 353px;
  height: 66px;
  margin-bottom: 19px;
}

.button {
  display: block;
  border-radius: 3px;
  border: none;
  background-color: rgb(78, 198, 171);
  width: 159px;
  height: 51px;
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 26px;
  text-align: center;
}
