html {
  box-sizing:border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

body {
  font-family: 'Playfair Display', serif;
  color: rgb(98, 98, 98);
  font-size: 14px;
  line-height: 24px;
}
/* navigation section*/
.superheader {
  padding: 77px 0 105px;
}

.main-nav-list {
  list-style: none;
  font-size: 0;
  padding: 0;
  text-align: center;
}

.main-nav-item {
  display: inline-block;
  font-size: 14px;
}

.main-nav-item.lifestyle {
  margin-right: 120px;
}

.main-nav-item.photodiary {
  margin-right: 104px;
}

.main-nav-item.music {
  margin-right: 92px;
}

.main-nav-item a {
  text-transform: uppercase;
  color: rgb(98, 98, 98);
  text-decoration: none;
  display: block;
}

.main-nav-item a:hover,
.main-nav-item a:focus {
  color: #03a9f4;
}
/* main content section*/
.main-section {
  font-size: 0;
	line-height: 0;
  letter-spacing: -1px;
  padding-bottom: 22px;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.article {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  line-height: 24px;
  display: inline-block;
  width: 420px;
  margin-bottom: 137px;
}

.article:nth-of-type(2n+1) {
  margin-right: 60px;
}

.article:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.article-illustration {
  margin-bottom: 30px;
}

h2,
p {
  margin: 0;
}

.heading2 {
  line-height: 36px;
  font-size: 30px;
  margin-bottom: 33px;
  cursor: pointer;
}

.heading2:hover,
.heading2:focus {
  color: #03a9f4;
}

.caption {
  font-family: 'Ubuntu', sans-serif;
  line-height: 17px;
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  margin-bottom: 26px;
}
/* button footer */
.button {
  font-size: 20px;
  line-height: 24px;
  color: rgb(98, 98, 98);
  border: 1px rgb(98, 98, 98) solid;
  width: 162px;
  height: 58px;
  display: block;
  background-color: transparent;
  margin: 88px auto 0;
  cursor: pointer;
}

.button:hover,
.button:focus {
  border-color: #03a9f4;
  color: #03a9f4;
}