/* MOBILE ONLY */

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    padding: 20px 0 138px;
    max-width: 320px;
    margin: 0 auto;
    background-image: url(../img/Head-image/header_mobile.png);
  }

  .header-contain {
    margin-bottom: 115px;
    padding: 0;
    justify-content: center;
  }

  .logo-link {
    justify-content: center;
    margin-bottom: 35px;
  }

  .main-title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 1rem;
  }

  .main-title-caption {
    font-size: 18px;
    line-height: 22px;
    width: 230px;
    margin: 0 auto 18px;
  }

  .main-contain {
    max-width: 320px;
    margin: 0 auto;
    padding-top: 68px;
    padding-bottom: 57px;
  }
}

/* TABLET AND DESKTOP */

@media (min-width: 768px) {
  .header {
    padding: 38px 0 234px;
  }

  .header-logo-buttons-area {
    margin-bottom: 153px;
  }

  .main-title {
    width: 510px;
    font-size: 52px;
    line-height: 1.2;
    margin-bottom: 25px;
  }

  .main-title-caption {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 35px;
  }

  .main-contain {
    padding-bottom: 40px;
  }

  .partners-list-item:nth-child(1) {
    order: 1;
  }

  .partners-list-item:nth-child(2) {
    order: 3;
  }

  .partners-list-item:nth-child(3) {
    order: 2;
  }

  .partners-list-item:nth-child(4) {
    order: 4;
  }

  .partners-list-button {
    padding: 0 26px;
  }
}

/* TABLET ONLY */

@media (min-width: 768px) and (max-width: 959px) {
  .header {
    background-image: url(../img/Head-image/header_tablet.png);
  }

   .partners-list {
    flex-wrap: wrap;
    width: 510px;
  }

  .partners-list-item:not(:nth-child(even)) {
    margin-bottom: 30px;
  }
}

/* DESKTOP */

@media (min-width: 960px) {
  .header {
    background-image: url(../img/Head-image/header_desktop.png);
  }
}