/* TYPOGRAPHY */

@font-face {
  font-family: "Montserrat-reg";
  src: url(../fonts/montserrat-v14-latin-regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-bold";
  src: url(../fonts/montserrat-v14-latin-700.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-reg";
  src: url(../fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-thinn";
  src: url(../fonts/Roboto-Thin.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}


/* GENERAL */

.container {
  box-sizing: border-box;
  font-family: "Montserrat-bold";
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  color: inherit;
}

button {
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.2;
  height: 40px;
  outline: none;
  cursor: pointer;
}

.header {
  background-color: rgba(25, 24, 20, 0.2);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

/* HEADER BUTTONS AND LOGO */

.header-contain button {
  height: 40px;
  transition: border-color .2s linear;
}

.header-contain button:hover,
.header-contain button:focus {
  border-color: white;
}

.logo-link {
  font-size: 20px;
  line-height: 1.2;
}

.main-title-caption {
  font-family: "Roboto-thinn";
}

.main-title-button {
  background-color: #ff4e50;
}

/* MAIN SECTION */

.main-contain {
  padding-top: 68px;
  color: #333333;
  margin: 0 auto;
}

.meet-a-partner-title {
  font-size: 22px;
  line-height: 1.2;
  margin: 0 0 20px;
}

/* PARTNERS LIST */

.partners-list-item {
  width: 220px;
  position: relative;
}

.partner-name {
  font-size: 14px;
  line-height: 1.2;
}

.partner-description {
  font-family: "Roboto-thinn";
  font-size: 14px;
  line-height: 1.2;
  color: #666666;
}

/* PARTER ICONS */

.partners-list-item::after {
  position: absolute;
  background-color: transparent;
  top: 85px;
  right: 55px;
}

.partners-list-item:nth-of-type(1)::after {
  content: url(../img/Icons/TV-red.png);
}

.partners-list-item:nth-of-type(2)::after {
  content: url(../img/Icons/Tube-orange.png);
}

.partners-list-item:nth-of-type(3)::after {
  content: url(../img/Icons/Cup-green.png);
}

.partners-list-item:nth-of-type(4)::after {
  content: url(../img/Icons/Plane-blue.png);
}

/* PARTNERS SECTION BUTTON */

.partners-list-button {
  color: #ff4e50;
  padding: 0 70px;
  height: 44px;
  transition: border-color .2s linear;
}

.partners-list-button:hover,
.partners-list-button:focus {
  border-color: #ff4e50;
}