// @import 'typography'

$headers-main-font-stack: 'Montserrat';
$headers-secondary-font-stack: 'Montserrat';
$headers-caption-font-stack: 'Kaushan Script';
$service-section-main-font-stack: 'Roboto';
$service-section-member-caption: 'Roboto';

$main-width: 1200px;
$title-font-size: 14px;
$main-white-color: #ffffff;
$accent-color-yellow: #fce38a;
$accent-color-red: #f38181;
$accent-color-red-opacity: #f38181d9;